/* YOUR CUSTOM STYLES */
.img-thumbnail  {
    height:300px;
    width:300px;
}
.landing{
	padding: 5%;
	margin: 0px 15% 0px 15%;
	background-color: #2980b9;
}
.about{
	background-color: #2980b9;
  margin:50px;
	text-align: center;
}
button{
	position: relative;
	text-align: center;
	background-color: #2980b9;
}
.centered{
	margin: auto;
	padding: 0;
	text-align: center;
}
body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  margin: 0px 15px 0px 15px;;
  background-color: #2980b9;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {

}

.card-text {
  font-size: 85%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
nav {
  margin: 0;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  font-size: 15px;
  color: black;
  display: block;
  line-height: 3em;
  padding: 1em 3em;
  text-decoration: none;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li a.logo {

}
nav ul li a:hover {
}
.gallery{
  margin:50px;
}
.carousel{
  text-align: center;
  margin:3%;
  padding: 3%;
}
.carousel-indicatiors{
  background-color: purple;
}
.carousel-control-prev{
  color: purple;
}
.carousel-control-next{
  color: purple;
}
body{
  background-color: #A2DED0;
  position: relative;
  overflow-y: scroll;
}
.nav-link{
  color:black;
}
.active{
  background-color: black;
}